- alias: Master Automation Strategy
  trigger:
    - platform: numeric_state
      entity_id: sensor.home_assistant_feed_in_price
  condition:
    - condition: template
      value_template: '{{ states.sensor.home_assistant_feed_in_price.state | float > 1.0 and states.binary_sensor.home_assistant_price_spike.state }}'
  action:
    - service: number.set_value
      target:
        entity_id: number.home_automation_force_discharge_power
      data:
        value: 0
*    - service: number.set_value
      target:
        entity_id: number.home_automation_max_discharge_current
      data:
        value: 15000
      
- alias: Secondary Rule Discharge
  trigger:
    - platform: state
      entity_id: sensor.home_automation_solar_power
  condition:
    - condition: template
      value_template: '{{ states.sensor.home_assistant_feed_in_price.state | float > 0.15 and states.sensor.home_automation_solar_power.state | float < 2 }}'
  action:
    - service: number.set_value
      target:
        entity_id: number.home_automation_force_discharge_power
      data:
        value: 15000
  
- alias: Grid Backup Charge
  trigger:
    - platform: time
      at: '13:00'
    - platform: time
      at: '14:00'
  condition:
    - condition: numeric_state
      entity_id: sensor.home_automation_battery_soc_1
      below: 40
  action:
    - choose:
        - conditions:
            - condition: numeric_state
              entity_id: sensor.home_assistant_feed_in_price
              below: 0.06
          sequence:
            - service: number.set_value
              target:
                entity_id: number.home_automation_max_charge_current
              data:
                value: 0.5  
    - conditions:
        - condition: state
          entity_id: number.home_automation_max_charge_current
          state: '50%'
      action:
      - service: number.set_value
        target:
          entity_id: number.home_automation_max_charge_current
        data:
          value: 0

- alias: Negative Pricing Charge
  trigger:
    - platform: state
      entity_id: sensor.home_assistant_feed_in_price
  condition:
    - condition: numeric_state
      entity_id: sensor.home_assistant_feed_in_price
      below: -0.01
  action:
    - service: number.set_value
      target:
        entity_id: number.home_automation_force_charge_power
      data:
        value: 0

- alias: Critical Protection
  trigger:
    - platform: state
      entity_id: sensor.home_automation_battery_soc_1
  condition:
    - condition: numeric_state
      entity_id: sensor.home_automation_battery_soc_1
      below: 10
  action:
    - service: number.set_value
      target:
        entity_id: number.home_automation_force_discharge_power
      data:
        value: 0

- alias: Solar Priority
  trigger:
    - platform: state
      entity_id: sensor.home_automation_solar_power
  condition:
    - condition: numeric_state
      entity_id: sensor.home_automation_solar_power
      above: 2
  action:
    - service: number.set_value
      target:
        entity_id: number.home_automation_force_discharge_power
      data:
        value: 0
